<div class="splash-screen-content">
<div class="splash-screen-image">
  <img src="../../assets/splash-screen-logo.jpg" alt="splash-screen" title="splash-screen-logo">
</div>
<div class="splash-screen-quote">
<div class="content">
  <h1><b>What’s Next ? Join With Us </b></h1>
  <p> Let’s Do it With Your Own Way</p>
  <p>We Will Develop Your Career</p>
</div>
<div class="join-button">
  <button>Join Today &nbsp;&nbsp;<i class="fa-solid fa-chevron-right"></i></button>
</div>
</div>
</div>
<!-- mobile view -->
<div class="mobile-splash-screen-content">
  <div class="contents">
    <img src="./assets/contents-img1.jpg" alt="">
    <button> Register <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
      <path d="M5.88889 1L9 4M9 4L5.88889 7M9 4H1" stroke="#0E0E0E" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  </div>
  <div class="contents">
    <p>Popular Courses</p>
    <div class="courses-slider">
      <div class="sliders">
        <img src="./assets/Angular.png" alt="">
      </div>
      <div class="sliders">
        <img src="./assets/python.svg" alt="">
      </div>
      <div class="sliders">
        <img src="./assets/java.svg" alt="">
      </div>
      <div class="sliders">
        <img src="./assets/aws.svg" alt="">
      </div>
    </div>
  </div>
  <div class="contents">
    <img src="./assets/contents-img2.png" alt="">
  </div>
  <div class="contents">
    <p>What’s Next ? Join With Us</p>
    <p>Let’s Do it With Your Own Way</p>
    <p>We Will Develop Your Career</p>
  </div>
</div>
