*{
  box-sizing: border-box;
}
.homepage{
  position: relative;
}
.splash-screen-image img{
  width: 950px;
  height: 85vh;
}
.splash-screen-content{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 6%;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.content h1{
  font-size: 2.5rem;
}
.content p{
  font-size: 1.5rem;
}
.join-button button{
  padding:1rem 1.8rem 1rem 1.8rem;
  background-color: #65Baa9;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
}
.join-button i{
  color: #fff;
  font-size: 2rem;
}
.splash-screen-quote{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.mobile-splash-screen-content{
  display: none;
}

.knowledge-expected{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem 3rem 0 3rem;
}
.knowledge-expected-heading{
  display: flex;
  flex-direction: column;
}
.knowledge-expected-image img{
  width: 600px;
  height: 600px;
}
.knowledge-expected-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 0 0 6rem;
}
.expected-skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.expected-skills p{
  width: 17rem;
  text-align: justify;
}
.expected-skills svg{
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #FAEAFF;
  font-size: 1.5rem;
}
.box-display{
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
}
.box-display svg{
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #FAEAFF;
  font-size: 1.5rem;
}
.highest-rated{
  padding: 0 3rem 0 3rem;
}
.courses{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.courses-available{
  display: flex;
  background-color: #DDF0EC;
  flex-direction: column;
  gap: 1rem;
  width: 18rem;
  align-items: center;
  padding: 1rem;
}
.details-button button{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: black;
  background-color: #65Baa9;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.courses-available img{
  width: 165px;
  height: 155px;
}
.details-button{
  animation: animation 500ms ease-in-out;
  transform-origin: top;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.online-offline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-mode{
  margin-top: 3rem;
  width: 100%;
  background-color: #DDF0EC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
.para{
  width: 25rem;
}
.online-offline-images{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.online-offline-images img{
  width: 350px;
  height: 250px;
  box-shadow: 0.3rem 0.5rem 0.3rem rgba(0, 0, 0, 0.35);
}
.image-collection{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.course-mode-heading{
  width: 28rem;
  font-size: 2.8rem;
}
.course-mode-content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.modeofcourse{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.modeofcourse h4{
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #65Baa9;
  border-radius: 10px;
  font-size: 1.8rem;
  color: #DDF0EC;
}
.modeofcourse i{
  color: yellow;
}
.course-mode-features{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.course-mode-features p{
  font-size: 1.4rem;
}
.course-mode-features i{
  color: #772ED6;
}
.testimonals{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.testimonals .students-reviews{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: none;
  box-shadow: 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.45);
  padding: 1.5rem;
  border-radius: 10px;
}
.testimonals .students-reviews img{
  width: 192px;
  height: 192px;
}
.student-feedback{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.course-name{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.testimonals-heading{
  padding: 2rem 5rem 0 4rem;
}
.mobile-knowledge-expected{
  display: none;
}
.mobile-knowledge-expected-image{
  display: none;
}
.mobile-testimonals-heading{
  display: none;
}
.mobile-testimonals{
  display: none;
}
.whatsapp{
  position: absolute;
  right: 3%;
  top: 80vh;
}
.whatsapp{
  position: fixed;
}
@media screen and (max-width:500px) and (min-width:360px) {
  .splash-screen-content{
    display: none;
  }
  .mobile-splash-screen-content{
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 22%;
  }
  .contents:nth-child(1){
    width: 83%;
    height: 15vh;
    margin: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: -3px 5px 6px 3px #D9D9D9;
    position: relative;
  }
  .contents:nth-child(1) img{
    width: 46%;
    height: 90%;
    position: absolute;
    left: 53%;
    bottom: 2%;
    z-index: -1;
  }
  .contents:nth-child(1) button{
    width: 40%;
    height: 25%;
    border-radius: 20px;
    background: #65BAA9;
    border: none;
    position: absolute;
    left: 5%;
    bottom: 5%;
  }
  .contents p{
    font-size: 5vw;
    font-weight: bolder;
    margin-left: 30px;
  }
  .contents:nth-child(2){
    width: 99%;
  }
  .courses-slider{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    width: 93%;
    gap: 5px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .sliders{
    width: 35%;
    height: 35%;
    background-color: #DDF0EC;
    border-radius: 10px;
    padding: 10px;
  }
  .sliders img{
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  .contents:nth-child(3) img{
    margin-left: 30px;
  }
  .contents:nth-child(4){
    margin-right: 5%;
  }
  .contents:nth-child(4) p:nth-child(1){
    font-size: 6vw;
    margin-left: 60px;
  }
  .contents:nth-child(4) p:nth-child(2){
    font-size: 4vw;
    font-weight: lighter;
    margin-left: 90px;
  }
  .contents:nth-child(4) p:nth-child(3){
    font-size: 4vw;
    font-weight: lighter;
    margin-left: 90px;
    padding-bottom: 5%;
  }
  .knowledge-expected-image{
    display: none;
  }
  .highest-rated{
    display: none;
  }
  .courses{
    display: none;
  }
  .online-offline{
    display: none;
  }
  .testimonals-heading{
    display: none;
  }
  .testimonals{
    display: none;
  }
  .knowledge-expected{
    display: none;
  }
  .mobile-knowledge-expected{
    display: block;
  }
  .mobile-knowledge-expected h1{
    font-size: 5vw;
    margin-left: 30px;
  }
  .mobile-knowledge-expected p{
    font-size: 4vw;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 5px;
  }
  .mobile-knowledge-expected-image{
    display: block;
  }
  .mobile-knowledge-expected-image img{
    width: 80%;
    margin-left: 30px;
  }
  .mobile-expected-skills{
    width: 85%;
    margin-left: 30px;
    margin-bottom: 7%;
  }
  .mobile-box-display{
    width: 100%;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 5%;
    border-radius: 20px;
    padding: 5%;
  }
  .mobile-box-display svg{
    margin-left: 40%;
    margin-top: 5%;
  }
  .mobile-box-display h2{
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 6vw;
  }
  .mobile-box-display p{
    font-size: 4.5vw;
    margin-bottom: 5%;
  }
  .mobile-testimonals-heading{
    display: block;
  }
  .mobile-testimonals-heading h1{
    font-size: 5vw;
  }
  .mobile-testimonals{
    display: block;
    margin: 10%;
    margin-bottom: 40%;
    width: 80%;
  }
  .mobile-testimonals img{
    width: 40%;
    height: 100px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .mobile-students-reviews{
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10%;
    padding: 5%;
    border-radius: 10px;
  }
  .mobile-course-reviews{
    width: 100%;
    margin-left: 5%;
    padding-bottom: 5%;
  }
  .course-name{
    margin-left: 10%;
  }
  .student-name{
    margin-left: 10%;
    margin-top: 3%;
  }
  .course-satisfaction{
    margin-left: 10%;
    margin-top: 3%;
  }
  .para{
    width: 80%;
    margin-top: 3%;
  }
  .whatsapp{
    position: absolute;
    right: 3%;
    top: 75vh;
  }
  .whatsapp{
    position: fixed;
  }
}
