<div>
  <div class="course-details">
    <div>
      <img src="../../assets/courses-header.png" alt="courses-head" title="courses-head-image">
    </div>
    <div class="course-instructions">
      <div>
        <h1>Courses Details</h1>
      </div>
      <div class="course-details-para">
        <p>Courses should have life time access</p>
        <p>Courses should have life time access</p>
        <p>Courses should have life time access</p>
        <p>Courses should have life time access</p>
      </div>
    </div>
  </div>
  <div class="course-heading">
    <div>
      <h1>Courses offered</h1>
    </div>
    <div class="horizontal-line"></div>
  </div>
  <div class="courses">
    <div class="courses-available" *ngFor="let courselist of coursedetails;let index=index"
      (click)="toggledetails(index)">
      <div>
        <img src="{{courselist.courseimage}}" alt="Fullstack" title="{{courselist.title}}">
      </div>
      <div class="course-heading-1">
        <h1>{{courselist.courseheading}}</h1>
      </div>
      <div class="details-button" *ngIf="isshowhide[index]">
        <p>{{courselist.coursecontent}}</p>
        <button>View Details</button>
      </div>
    </div>
  </div>
</div>
