*{
  box-sizing: border-box;
}
.stack-queue-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  background-color: #faeaff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.Institution-logo img{
  width: 240px;
  height: 108px;
}
.navigation-links{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.navigation-links a{
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.Navbar-registerbutton .navigation-links .navigation-active{
  border-bottom: 2px solid #772ED6;
  color:#772ED6 ;
}
.Navbar-registerbutton{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.register-button button{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: black;
  background-color: #65Baa9;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
