.stack-queue-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  background-color: #faeaff;
}
.Institution-logo img{
  width: 240px;
  height: 108px;
}
.navigation-links{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.navigation-links a{
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.Navbar-registerbutton{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.register-button button{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: black;
  background-color: #65Baa9;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

@media screen and (max-width:500px) and (min-width:360px) {
  .stack-queue-header{
    display: none;
  }
  .mobile-stack-queue-header{
    display: block;
    background-color: #faeaff;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .Institution-logo img{
    width: 163px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
  }
  .mobile-stack-queue-header-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-right: 10px;
  }
  .icons{
    cursor: pointer;
  }

}
