<div class="about-us">
  <div class="about-us-header">
    <div>
      <img src="../../assets/courses-collage.jpg" alt="courses collage" title="courses collage">
    </div>
    <div class="about-us-contents">
      <div class="about-us-image">
        <img src="../../assets/about-us.jpeg" alt="about-us" title="sbout-us">
      </div>
      <div>
      <p class="para">
        STACK-QUEUE is an educational institution, started on 07/08/2023 and started our journey with the joy. we follow the culture of inclusive learning.
      </p>
      <p><b>Inclusive learning means:</b></p>
      <ol class="list">
        <li>Provide students with a sense of belonging.</li>
        <li>Offer an open and welcoming environment.</li>
        <li>Are psychologically safe.</li>
        <li>Promote active listening.</li>
        <li>Encourage participation.</li>
        <li>Actively work to combat biases.</li>
        <li>Focus on boosting and maintaining student motivation.</li>
      </ol>
    </div>
    <div>
      <q>Elicit your skills by Inclusive Learning</q>
    </div>
    </div>
  </div>
</div>
<div class="about-us-mentorship">
  <div>
    <img src="../../assets/about-us-activities.jpg" alt="about-us-activities" title="about-us-activities">
  </div>
  <div class="activities-list">
    <div>
      <h1 class="activity">STACK-QUEUE Activities</h1>
    </div>
    <div>
      <h1>Supporting students learning in your course</h1>
    </div>
    <div>
      <ol>
        <li>Learn Programming skills with proper mentorship by doing more tasks.</li>
        <li>Interview Questions will be discussed in interview point of view.</li>
        <li>Projects will be done in each course with proper guidance.</li>
        <li>Company specific interview questions also discussed during the course.</li>
        <li>Hands-on-training and Real-time projects will be discussed.</li>
      </ol>
    </div>
  </div>
</div>
<div class="best-quote">
  <q>If it scares you it might be a good thing to try. Try new things.</q><span> - STACK-QUEUE</span>
</div>
