<div class="syllabus-course">
  <div class="course-slideshow">
    <div class="main-slide">
      <div><img src="{{slideimage}}" alt="" title=""></div>
      <div class=""><button><b>Enroll Now</b></button></div>
    </div>
    <div class="next-slides">
      <div class="slide-details">
        <img src="{{nextslideimage}}" alt="">
      </div>
      <div id="{{'slide-details'+index}}" *ngFor="let item of parsedImage;let index=index">
        <img src="{{item.nextslideimage}}" alt="" (click)="courseDetails(this.item.coursename)">
      </div>
    </div>
  </div>
  <div class="courseselection-contents">
    <div class="courseselection-syllabus">
  <div class="course-syllabus-heading">
    <h1>{{coursenameSelected}} Course Syllabus</h1>
  </div>
  <div class="syllabus-container" *ngFor="let syllabus of parsedsyllabus;let index=index">
    <li>{{syllabus.content}}</li>
  </div>
</div>
<div class="course-rating">
<div class="course-rating-contents">
  <h2>Course Rating</h2>
  <small>{{courseRating}}</small>
  <div  class="star-icon">
    <div *ngFor="let item of parsecourseRating;let index=index;">
      <i class="fa-solid fa-star" style="color: #d4d71d;"></i>
    </div>
    <div>
    <i class="fa-solid fa-star-half" style="color: #d4d71d;" *ngIf="starvisible"></i>
  </div>
  </div>
</div>
</div>
</div>
</div>

