*{
  box-sizing: border-box;
}
.syllabus-course{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.course-slideshow{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.main-slide{
  width: 800px;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 1rem;
}
.main-slide button{
  padding:0.6rem 1.3rem 0.6rem 1.3rem;
  background-color: #65Baa9;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
.main-slide img{
  width: 800px;
height: 400px;
}
.next-slides{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  position: relative;
}
.slide-details {
  width: 164px;
  height: 380px;
  z-index: 2;
  cursor: pointer;
}
.slide-details img{
  width: 164px;
  height: 380px;
}
#slide-details0{
  margin-left: -13%;
  z-index: 1;
  width: 164px;
  height: 360px;
  opacity: 0.95;
  cursor: pointer;
}
#slide-details0 img{
  width: 164px;
  height: 360px;
}
#slide-details1{
  margin-left: -13%;
  z-index: 0;
  width: 164px;
  height: 340px;
  opacity: 0.85;
  cursor: pointer;
}
#slide-details1 img{
  width: 164px;
  height: 340px;
}
.enroll-button{
  display: flex;
  justify-content: center;
}
.syllabus-container{
  margin-left: 13%;
}
.syllabus-container li{
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.course-syllabus-heading{
  margin-left: 13%;
}
.course-syllabus-heading h1{
  text-transform: uppercase;
}
.courseselection-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 6rem 0 6rem;
}
.course-rating-contents{
  width: 20rem;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  align-items: center;
  /* padding: 2rem 0 0 2rem; */
  border-radius: 0 0 100px 100px;
}
.course-rating{
  display: flex;
  justify-content: center;
}
.star-icon{
  display: flex;
  flex-direction: row;
}
.star-icon i{
  font-size: 1.5rem;
}
.course-rating-contents h3{
  font-size: 1.2rem;
}
.course-rating-contents small{
  font-size: 1.3rem;
}
.courseselection-syllabus{
  width: 50rem;
  text-align: justify;
}
