<div class="syllabus-course">
  <div class="course-slideshow">
    <div class="main-slide">
      <img src="{{slideimage}}" alt="" title="">
    </div>
    <div class="next-slides">
      <div class="slide-details">
        <img src="../../assets/slide-python.png" alt="">
      </div>
      <div class="slide-details1">
        <img src="../../assets/slide-angular.png" alt="">
      </div>
      <div class="slide-details2">
        <img src="../../assets/slide-fullstack.png" alt="">
      </div>
    </div>
  </div>
</div>

<!-- mobile view -->

<div class="mobile-syllabus-course">
  <div class="mobile-syllabus-contents">
    <img src="{{slideimage}}" alt="course">
  </div>
  <div class="mobile-syllabus-contents">
    <div class="mobile-syllabus-content-boxes">

    </div>
    <div class="mobile-syllabus-content-boxes">

    </div>
  </div>
</div>
