<div class="contact-us">
  <div class="address-details">
    <div class="address-content">
      <div><i class="fa-solid fa-location-dot"></i></div>
      <div>
        <h3>ADDRESS</h3>
      </div>
      <div>
        <p>STACK-QUEUE, Kallikottai, Sankari Main Rd, Sandaipet, Kondalampatti, Salem, Tamil Nadu 636010.</p>
      </div>
    </div>
    <div class="contact-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125045.93510108991!2d78.15495680000001!3d11.645747200000011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babef7d38562ed9%3A0xc1f200b0aa888c50!2sSTACK-QUEUE!5e0!3m2!1sen!2sin!4v1692967733544!5m2!1sen!2sin"
        width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="form-comment">
    <div>
      <h2>LEAVE COMMENT / QUERY</h2>
    </div>
    <div class="form-details">
      <form [formGroup]="getintouch" class="contact-form-details" (ngSubmit)="getintouch.valid && contactFormSubmission()">
        <div class="getintouch-form">
          <div class="first-set-form">
            <div class="contact-form-control">
              <label>First Name</label>
              <input type="text" placeholder="First name" formControlName="firstname">
              <small
                *ngIf="getintouch.controls['firstname'].errors?.['required'] && getintouch.controls['firstname'].touched">Firstname is required
              </small>
              <small
                *ngIf="getintouch.controls['firstname'].errors?.['pattern']">Enter valid firstname
              </small>
            </div>
            <div class="contact-form-control">
              <label>Email ID</label>
              <input type="email" placeholder="Email ID" formControlName="emailid">
              <small
                *ngIf="getintouch.controls['emailid'].errors?.['required'] && getintouch.controls['emailid'].touched">
                Email ID is required</small>
                <small
                *ngIf="getintouch.controls['emailid'].errors?.['pattern']">
                Provide valid Email ID</small>
            </div>
          </div>
          <div class="second-form-control">
            <div class="contact-form-control">
              <label>Last Name</label>
              <input type="text" placeholder="Last Name" formControlName="lastname">
              <small
                *ngIf="getintouch.controls['lastname'].errors?.['required'] && getintouch.controls['lastname'].touched">Lastname is required</small>
                <small
                *ngIf="getintouch.controls['lastname'].errors?.['pattern']">Provide valid Lastname</small>
            </div>
            <div class="contact-form-control">
              <label>Subject</label>
              <input type="text" placeholder="Subject" formControlName="subject">
              <small
                *ngIf="getintouch.controls['subject'].errors?.['required'] && getintouch.controls['subject'].touched">Subject is required</small>
                <small
                *ngIf="getintouch.controls['subject'].errors?.['minlength']">Provide proper subject</small>
            </div>
          </div>
        </div>
        <div class="contact-textarea-control">
          <label>Message</label>
          <textarea name="" id="" cols="30" rows="10" formControlName="message"></textarea>
          <small
                *ngIf="getintouch.controls['message'].errors?.['required'] && getintouch.controls['message'].touched">Leave message</small>
                <small
                *ngIf="getintouch.controls['message'].errors?.['minlength']">Provide more message</small>
        </div>
        <div class="comment-button">
          <button><b>Leave a comment</b></button>
        </div>
        </form>
      </div>
    </div>
</div>
