/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Signika Negative', sans-serif;
}
html{
  scroll-behavior: smooth;
}
=======
>>>>>>> efcae813fe88408f088e57a135791f4a271fb970
